@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
}